<!-- layout.html -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ template "title" . }}</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="/web/static/css/tailwind.css"
      href="/web/static/css/global.css"
    />
  </head>
  <body class="flex flex-col w-screen h-screen">
    <header class="border-b-2 border-white">
      <nav class="flex p-4 flex-row w-full justify-between">
        <div class="flex gap-4">
          <a href="/">Home</a>
          <a href="/task">Create a Task</a>
          <a href="/task/all">View tasks</a>
        </div>
        <div>
          {{ if .IsLoggedIn }}
          <a href="/logout">Logout</a>
          {{ else }}
          <a href="/login/discord">Login with Discord</a>
          {{ end }}
        </div>
        <!-- Other links -->
      </nav>
    </header>

    <main class="flex h-full">{{ template "content" . }}</main>

    <footer class="flex w-full justify-center items-center">
      <p>&copy; 2024 MyApp. All rights reserved.</p>
    </footer>
  </body>
</html>
