<!-- layout.html -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ template "title" . }}</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="/web/static/css/tailwind.css"
    />
  </head>
  <body class="flex flex-col w-screen h-screen">
    <header class="p-4">
      <nav class="flex flex-row w-full justify-between">
        <div>
          <a href="/">home</a>
          <a href="/task">Tasks</a>
        </div>
        <div>
          <a href="/login">Login with Discord</a>
        </div>
        <!-- Other links -->
      </nav>
    </header>

    <main class="flex h-full">{{ template "content" . }}</main>

    <footer class="flex w-full justify-center items-center">
      <p>&copy; 2024 MyApp. All rights reserved.</p>
    </footer>
  </body>
</html>
