<!-- layout.html -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="/web/static/css/tailwind.css"
      href="/web/static/css/global.css"
    />
  </head>
  <body class="flex flex-col w-screen h-screen">
    <div class="flex w-full h-full justify-center items-center">
      <a
        href="login/discord"
        class="text-white bg-purple-700 p-10 rounded-md hover:bg-purple-900 hover:text-purple-400"
        >Login using Discord</a
      >
    </div>
  </body>
</html>
