{{ define "title" }}Task form{{ end }} {{ define "content" }}
<div class="w-full h-full flex justify-center items-center">
  <div class="flex flex-col justify-center items-center">
    <form id="new-todo" method="Post" action="/tasks/create">
      <div class="flex flex-col justify-center items-center">
        <input
          type="text"
          class="border-2 rounded px-2 py-1 bg-white/30 border-black"
          name="task-body"
          value=""
          placeholder="Tasks to be done"
        />
        <button type="submit" class="hover:text-blue-400">Add</button>
      </div>
    </form>
    <a href="/tasks/all"> View your tasks </a>
  </div>
</div>
{{ end }}
