{{ define "title" }}Task form{{ end }} {{ define "content" }}
<div class="flex h-full w-full items-center justify-center">
  <div class="flex flex-col items-center justify-center">
    <form id="new-todo" method="Post" action="/tasks/create">
      <div class="flex flex-col items-center justify-center">
        <input
          type="text"
          class="rounded border-2 border-black bg-white/30 px-2 py-1"
          name="task-body"
          value=""
          placeholder="Tasks to be done"
        />
        <button type="submit" class="hover:text-blue-400">Add</button>
      </div>
    </form>
    <a href="/tasks/all"> View your tasks </a>
  </div>
</div>
{{ end }}
